*{
    margin: 0;
    padding: 0;
}


.logo
{
width: 120px;
margin-left: 110px;
margin-top: 40px;
position: absolute;
}
.fixed input[type=text] {
    float: none;
    display: block;
    text-align: left;
    margin-top: 50px;
    padding: 14px;
    margin-left: 400px;
    position: absolute;
    width: 600px;
  
    
  }
  .fixed input[type=text] {
    border: 2px solid rgb(255, 145, 0);
 
  }
  .cart{
      margin-top: 50px;
      margin-left: 1170px;
      width: 35px;
      height: 35px;
      position: absolute;
  }
.ban{
    background: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    width: 100%;

}
  .btn{
      background-color: white;
      margin-left: 40px;
      padding: 13px 12px;
      border: 2px solid black;
      border-radius: 9px;
      width: 100px;
      margin-top: 55px;
  }
#cart{
    size: 30px;
}
.fixed{
    position: relative;
    width: 100%;
    box-shadow: 2px 2px #000000;
    padding-bottom: 20px;
}

 .navbar ul li{color: rgb(0, 0, 0);
   
    text-align: right; 
     
 list-style: none;
 display: inline-block;
 margin: 0 20px ;
 position: relative;
 }
 .navbar ul li a{
      text-decoration: #000000;
      color: rgb(182, 182, 182);
      text-transform: uppercase;
 font-size: 20px;
 
 
 } 
 
 .navbar{

  
position: relative;
height: 60px;
padding: 35px 0;
text-align: center;

width: 90%;

 }

 .navbar ul li:hover::after{

    width: 100%;
}

 .navbar ul li::after{
color: blue;
    content: '' ;
    height: 3px;
    width: 0;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
    
}
.fa-search{

    background-color: rgb(0, 117, 250);
    color: white;
    padding: 16px;
    margin-left: 1030px;
    position: absolute;
    margin-top: 50px;
}
.i{
    position: relative;
margin-left: 70px
;}

.ir{
margin-left: 90px;
padding: 10px;
}

div.polaroid {
    margin-left: 55px;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);

padding: 30px;
    margin-top: 30px ;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
h3{
    display: inline-block;
    padding: 20px;
    color: rgba(76, 197, 245, 0.938);
}
.il{
    position: relative;
    margin: 40px;
    width: 700px;
    margin-left: 70px;
}

.col-4{
    display: inline-block;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:50px ;
    position: relative;
 
float: left;
}
.col-4:hover .overlay {
    opacity: 1;
  }
.text {
    color: rgb(255, 136, 0);
  border: 2px solid orange;
    position: absolute;
    font-size: 16px;
  padding: 16px 18px;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: cursive;
    font-weight: bold;
  }
.col-4 img:hover{

opacity: -0.3;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    opacity: -0.3;
  }
  

.col-4 img{
backface-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    margin-left: 25px;
  
max-width: 150px;
max-height: 200px;
  
  
    position:relative;
}
.col-4 h4{ position: relative;
overflow: hidden;
max-width: 150px;
margin-left: 25px;
    
}
.palaroid{
    margin-left: 55px;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
position: absolute;

padding: 30px;
margin-top: 30px;
}
.palaroid h5{
font-size: 29px;
margin-bottom: 30px;
font-family: cursive;

}
.palaroid p{
    position: relative;
overflow: hidden;
max-width: 150px;
margin-left: 25px;

}
.palaroid del{

   position: relative;
    overflow: hidden;
    max-width: 150px;
    margin-left: 25px;
    

}
.col-5 img:hover{

    opacity: -0.3;
    
    }
.col-5:hover .overlay {
    opacity: 1;
  }
.col-5{
    display: inline-block;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:50px ;
    position: relative;
 
float: left;
}
.col-5 img{

    backface-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    margin-left: 25px;
  
max-width: 150px;
max-height: 200px;
  
  
    position:relative;

}
.col-5 h4{ position: relative;

max-width: 150px;
margin-left: 25px;

}
button{
margin-left: 140px;
    margin-top: 920px;
    width: 200px;
    padding: 15px 0 ;
 position: relative;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid skyblue;
    cursor: pointer;
    background: transparent;
    color: black;
    overflow: hidden;
    margin-bottom: 40px;
}
span{
    background: #0281f8;
    height: 100%;
    width: 0;
    border-radius: 15px;
    position: absolute;
    left: 0;
 bottom: 0;
    transition: 0.5s;
    z-index: -1;

}
button:hover span{
width: 100%;


}
button:hover{


  border: none;
}


.palaroid1{
    margin-left: 55px;
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
position: absolute;

padding: 30px;
margin-top: 30px;
}
.palaroid1 h5{
font-size: 29px;
margin-bottom: 30px;
font-family: cursive;

}
.palaroid1 p{
    position: relative;
overflow: hidden;
max-width: 150px;
margin-left: 25px;

}
.palaroid1 del{

   position: relative;
    overflow: hidden;
    max-width: 150px;
    margin-left: 25px;
    

}
.col-51 img:hover{

    opacity: -0.3;
    
    }
.col-51:hover .overlay {
    opacity: 1;
  }
.col-51{
    display: inline-block;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:50px ;
    position: relative;
 
float: left;
   
}
.col-51 img{

    backface-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    margin-left: 25px;
  
max-width: 150px;
max-height: 200px;
  
  
    position:relative;

}
.col-51 h4{ position: relative;

    max-width: 150px;
    margin-left: 25px;
    
    }
    .fa-cart-arrow-down{
background-color: transparent ;
color: rgb(255, 119, 0);
margin-top: 0 ;


    }

    .bot{
        position: fixed;
        height: 60px;
        width: 90px;
        margin-top: 0;
    }

    .palaroid2{
        margin-left: 55px;
        width: 90%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
    position: absolute;
    
    padding: 30px;
    margin-top: 600px;
    }
    .palaroid2 h5{
    font-size: 29px;
    margin-bottom: 30px;
    font-family: cursive;
    
    }
    .palaroid2 p{
        position: relative;
    overflow: hidden;
    max-width: 150px;
    margin-left: 25px;
    
    }
    .palaroid2 del{
    
       position: relative;
        overflow: hidden;
        max-width: 150px;
        margin-left: 25px;
        
    
    }
    
.col-511 img:hover{

    opacity: -0.3;
    
    }
.col-511:hover .overlay {
    opacity: 1;
  }
    .col-511{
    
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom:50px ;
    float: left;
        display: inline-block;
    }
    .col-511 img{
    
       
    max-width: 150px;
    max-height: 200px;
        width: 100%;
    
        position:relative;
    }
    .col-511 h4{ position: relative;
    
        max-width: 150px;
        margin-left: 25px;
        
        }
        footer {
            width: 100%;
            background-color: white;
            box-shadow: 0 2px 6px 0 rgba(114, 114, 114, 0.603), 0 6px 20px 0 rgba(117, 117, 117, 0.507);
            margin-bottom: 25px;
            margin-top: 1000px;
            position: relative;
            height: 500px;
          }
      .flogo{
          margin: 30px;
          position: absolute;
          
      }
      .fa-user-shield{
          font-size: 25px;
          position: absolute;
          margin-top: 150px;
          margin-left:30px ;
      }
      .fa-handshake{

        font-size: 25px;
          position: absolute;
          margin-top: 220px;
          margin-left:30px ;
      }
      .hotline{
          margin-top: 150px;
          margin-left: 70px;
          position: absolute;
      }
      .cor{
          margin-top: 220px;
          position: absolute;
          margin-left: 70px;
      }
      .fa-envelope{
          font-size: 25px;
          position: absolute;
          margin-top: 370px;
          margin-left: 30px;
      }
      .email{
position: absolute;
margin-top: 370px;
margin-left: 70px;

      }
      .s{
          position: absolute;

        margin-top: 410px;
        margin-left: 30px;
      }
      .social{
          margin-top: 10px;
font-size: 28px;
margin-left: 30px;
position: absolute;
      }
      .fa-twitter{
          margin-top: 420px;
          margin-left: 70px;
          position: absolute;
      }
      .fa-google-plus-square{
        margin-left: 40px;
        position: absolute;
        margin-top: 420px;

      }
      .fa-instagram-square{
        margin-left: 100px;
position: absolute;

margin-top: 420px;
      }
      .fa-facebook{
  
margin-top: 420px; 
          position: absolute;
      }
